[2019-10-21 10:46] olafgrabienski opened #1 "Remove unneeded directories and files"
As far as I know, we don't need the following directories and files:

- /.vscode
- /.vscode/settings.json
- /.gitignore
- /eslintrc.json

[2019-10-21 10:55] #1 closed

[2019-10-21 13:04] olafgrabienski opened #3 "Run Coder upgrade"
Run the module through [Coder upgrade](https://github.com/backdrop-contrib/coder_upgrade) to apply automatic routines for the upgrade from Drupal to Backdrop 1.0.

[2019-10-21 13:35] #3 closed

[2019-10-21 15:04] olafgrabienski opened #5 "Fix array syntax errors from Coder upgrade"
After running the module through Coder upgrade, I can't enable Tocbot on a test site due to the following errors:

Line 87 is in this code:

D7 module:

[code]

Backdrop:

[code]

docwilmot in Gitter:

`$form['moduleSettings']['tocbot_extrabodyclass'] = [`

to

`$form['moduleSettings']['tocbot_extrabodyclass'] =  array(`

and yes, add the `=>` and commas back.

[2019-10-21 15:27] #5 closed

[2019-10-21 16:11] olafgrabienski opened #7 "Some settings missing after installation"
After installation, some module and JS settings on the page `admin/config/content/tocbot` are populated with strings like `dynamic value in file /tocbot/tocbot.module line 343`. This affects the following settings:

Module settings:

- tocTitle

JS settings:

- tocSelector
- contentSelector
- headingSelector
- ignoreSelector

[2019-10-21 16:20] olafgrabienski commented on #7
In `tocbot.install` I see this related code which was added by *Coder upgrade*:

[code]

Above, see the last line as an example for a 'dynamic value':

And later on:

[code]

[2019-10-21 16:28] olafgrabienski commented on #7
I'm not sure why the setting is supposed to use a dynamic value. Consequently I'm not sure if it's okay to just change the value to a static one. Example:

Before:
`$config->set('tocbot_tocTitle', update_variable_get('tocbot_tocTitle', 'dynamic value in file /tocbot/tocbot.module line 343'));`

Fix:
`$config->set('tocbot_tocTitle', update_variable_get('tocbot_tocTitle', 'Table of contents'));`

[2019-10-21 21:34] olafgrabienski opened #8 "Improve configuration menu / page"
The menu item for the Tocbot settings could be improved:

- The title is "Tocbot Configuration". Just "Tocbot" is better, in my opinion.
- There is no description.
- Tocbot appears in the *Admin bar* but not on the page `admin/config/content`.
- The menu item has a weight. We don't need it.
- On the settings page itself, the wording of the fieldset headings could be improved.
  (If necessary, the

[2019-10-21 21:36] #8 closed

[2019-10-21 21:48] olafgrabienski opened #10 "Fix recent issues from Drupal queue also for Backdrop"
- [x] [Doesn't work with jQuery update](https://www.drupal.org/project/tocbot/issues/3083623), fixed for D7 but not yet committed (as of 21 Oct 2019)
  - Fixed by PR https://github.com/backdrop-contrib/tocbot/pull/14.
- [x] [Make automatic IDs lowercase](https://www.drupal.org/project/tocbot/issues/3087825), has a working patch for D7
  - Fixed by PR https://github.com/backdrop-contrib/tocbot/pull

[2019-10-22 02:35] docwilmot commented on #7
@olafgrabienski Coder searches the D7 files for instances of `variable_get(A, B)` and does a few things with that:
1. creates a config file with value `A: B`
2. creates a `hook_install()` instance to initialize the config A (not always necessary if you already have the config file of course)
3. creates a `hook_update_N()` instance to delete the variable A
4. then re-writes the string `variable_get

[2019-10-22 08:25] findlabnet commented on #10
I have working port of this module with some small fixes (I do not use Coder Upgrade):
https://github.com/findlabnet/tocbot
Only need to update README.md and .install for variables migration (haven't time for it at this time).
You can use anything from this repo, hope it help you to release.

[2019-10-22 08:48] olafgrabienski commented on #10
@findlabnet Thanks, I'll have a look at your port, it will be helpful!

[2019-10-22 09:50] olafgrabienski commented on #7
Thanks @docwilmot for the explanation, trying to understand it!

This is line 343 of the D7 file:

`$settings['tocTitle'] = check_plain(variable_get('tocbot_tocTitle', 'Page Outline:'));`

Hm, actually I'm not sure why `'Page Outline:'` isn't parseable.

Apart of that, do you think I can just fill in defaults in `tocbot.install` manually? For example:

`$config->set('tocbot_tocTitle', update_varia

[2019-10-22 09:55] olafgrabienski opened #11 "Bundle library into the module"
The Tocbot library should be provided by the module.

[2019-10-22 09:59] olafgrabienski commented on #11
Some information on the topic:

libraries should be bundled into the modules that require them. (https://backdropcms.org/project/libraries)

[2019-12-02 09:45] olafgrabienski commented on #7
@docwilmot Today I've had another look at the settings in the install file which couldn't be parsed by *Coder upgrade* and asked a friend what he was thinking about it. He was suggesting that special characters in the respective strings might lead to problems. And indeed, all non parseable strings contain special characters like a colon, a dot, a hash tag, or several commas:

- `Page Outline:`
- `

[2019-12-02 10:26] #7 closed

[2019-12-02 10:32] olafgrabienski commented on #7
For the record: In the PR I've added the missing setting values in `config/tocbot.settings.json` and in `tocbot.install`. To test the PR, I've uninstalled Tocbot, deleted the active configuration file and reinstalled the module including the updated files.

[2019-12-02 15:45] #11 closed

[2019-12-02 15:50] olafgrabienski commented on #11
For the record: To bundle the library, I've integrated the files into `tocbot/libraries/tocbot`. In contrast to the D7 version, the external library is only loaded if the local library isn't available.

[2019-12-02 15:52] olafgrabienski commented on #10
All sub-tasks fixed, closing.

[2019-12-02 15:52] #10 closed

[2019-12-02 15:55] olafgrabienski opened #16 "Improve README and .info, add LICENSE"
README.md:

- Use the contrib README template.
- Basic instructions.
- Differences to the D7 version.

tocbot.info:

- Change description.
- Remove a character in configuration path.

LICENSE.txt:

- Add the file.

[2019-12-03 23:11] #16 closed

[2019-12-03 23:58] stpaultim opened #18 "Collapsible classes causing weird behaivor"
The module seems to be configured to deal with h2, h3, h4, & h5. It seems to be adding the appropriate ID tag to items tagged h4 and h5, but my h4 and h5 items are not showing up in the TOC Block.

![Tocbot___Demo](https://user-images.githubusercontent.com/3144571/70099911-d0a70900-15f5-11ea-8536-103f1a38f621.png)

I checked markup and some headers were properly tagged h4 and had the necessary ID

[2019-12-04 00:07] stpaultim commented on #18
Nevermind. It's not a question of being h2 or h5, it has to do with the order in which they appear. Still not sure of pattern, but if I change the first item to h5, it shows up and some others disappear.

When I talk about showing up or disappearing, I am speaking exclusively about the TOC Block. Everything seems to work fine in body field.

[2019-12-04 00:21] stpaultim commented on #18
OK, my problem had to do with the list being collapsible. The default classes in these two fields were causing lots of weird behavior, once I removed these default classes, everything worked as expected.

![Tocbot___Demo](https://user-images.githubusercontent.com/3144571/70101093-845dc800-15f9-11ea-8342-be1122d2146a.png)

I think I'm testing with a clean backdrop CMS install. I will try again with

[2019-12-04 00:59] stpaultim opened #19 "Better labels + help text for Module settings"
It took me a while to figure this out. Maybe the label should be "Minimum number of headers" with minActivate in help text?

![Tocbot___toc](https://user-images.githubusercontent.com/3144571/70102845-013f7080-15ff-11ea-8dc5-0b3151d3a851.png)

I think I would put a more descriptive label on tocTitle as well. It does not take too long to figure that out, but it's not as obvious as it could be.

[2019-12-04 01:25] stpaultim opened #20 "Improvements for fixed position"
I think that this module is much more powerful is the user understands how to make the TOC fixed in sidebar. Better documentation and/or defaults on this would be great.

Right now, I don't think you can make it work nicely without custom css. Maybe we could find a way to make it work on a default Backdrop site - assuming that most people would have to customize it anyway. But, at least it would d

[2019-12-04 15:12] olafgrabienski commented on #18
Thanks for your feedback @stpaultim. Obviously, the collapsible behaviour can cause confusion! Interestingly, when I discovered and used the D7 module for the first time, it didn't confuse me at all ... maybe it surprised me, but it made a, well, quite natural impression to me. I guess, amongst other factors, the first impression depends on the (test) content. I have for instance a website with a

[2019-12-04 15:25] olafgrabienski commented on #19
Good point! The wording of some *Module* setting labels seems to be inspired by the *JavaScript* related parts further below on the settings page. While the latter reflects the Tocbot API and sounds therefore more 'technical', we should choose more 'human' language in the *Module* settings.

[2019-12-04 15:32] olafgrabienski commented on #19
For reference, there are four settings in the *Module* section of the configuration page:

I'll make suggestions for all of them.

[2019-12-04 15:51] olafgrabienski commented on #20
Good point! I'm leaning towards better defaults, i.e. setting the `.js-toc-block` class as default value for **positionFixedSelector** on the configuration page.

[2019-12-04 15:58] olafgrabienski commented on #20
@stpaultim With the above mentioned `.js-toc-block` class, there is no need for custom CSS to make the TOC work nicely fixed in the sidebar. Have you tried to set the class? If so and if it doesn't work / look nice, can you provide more information or a screenshot?

[2019-12-04 16:09] olafgrabienski opened #21 "HTML classes change depending on JS settings"
Filing quickly as a reminder, will elaborate later:

When I remove `is-collapsed` from the **isCollapsedClass** setting, the space between the CSS classes of a related `<ul>` element is missing. This leads to styling issues (e.g. too much padding).

Actual behavior:
`toc-listis-collapsible`

Expected:
`toc-list  is-collapsible`

[2019-12-04 17:57] stpaultim commented on #20
Do I need to add that class to the TOC Block?

I did not try that yet. I may have a chance to try it soon.

[2019-12-04 18:00] stpaultim commented on #18
Yes, that could be very helpful. I will try to test again today and see if I have more specific ideas. If you are correct about ability to used fixed positioning out of the box, that would be very helpful.

I was not able to get that to work in a useful way.

[2019-12-04 18:11] olafgrabienski commented on #20
As far as I know, the class should already be somewhere in the block markup.

[2019-12-04 22:13] stpaultim opened #22 "Upon reinstall - there are no default settings"
I wanted to reset the default settings, so disabled and then uninstalled the module. When I reinstalled it, there were no settings on config page. All empty.

![Tocbot___toc](https://user-images.githubusercontent.com/3144571/70186158-e4637580-16b0-11ea-80a6-8623810c3aeb.png)

[2019-12-04 22:31] olafgrabienski commented on #22
Oh! As a workaround for the moment, can you delete the tocbot configuration file and try to install again? I’ll have a look at the issue tomorrow.

[2019-12-04 22:33] stpaultim commented on #20
@olafgrabienski - NICE

Just started over from scratch and copied ".js-toc-block" from tocSelector into positionFixedSelector AND put the tocbot block into the right sidebar (using Basis and default layout Moscone Flipped) and it worked nicely.

I would have had much fewer problems had I tried this configuration first. I don't thin the current README or help text was very helpful in leading me dow

[2019-12-04 22:35] stpaultim commented on #20
Maybe the README should include a section on "Suggested Configuration to get Started" with instructions on how to set it up this way, then the user can make changes once they see the power of how it works.

[2019-12-04 22:44] stpaultim commented on #22
Sure, I got past this by simply destroying my Lando install (for testing) and starting over. I wanted to be safe that I had a clean install.

I recreated the steps and experienced the same problem. During "uninstall" process the configuration is all/mostly removed from the config file, but the config file is not removed. This means that during reinstall, there is already an empty config file for T

[2019-12-05 12:37] olafgrabienski commented on #22
I've found a related core issue (https://github.com/backdrop/backdrop-issues/issues/4186) which says that using `config_clear` in an uninstall function only clears configuration entries in the config file but not the file itself.

In `tocbot.install`, I use such an uninstall function:

[code]

Now, I'm not sure what I should do instead. There are two solutions / workarounds mentioned in https://gi

[2019-12-05 14:51] olafgrabienski commented on #20
Yes, that's a good idea! I'll add something along those lines to the README.

[2019-12-05 15:23] olafgrabienski commented on #22
Okay, `hook_config_info()` seems to be the way to go. Actually, that function is already in `tocbot.module`, but currenlty there is one important line missing - *maybe* a Coder Upgrade issue, see https://github.com/backdrop/backdrop-issues/issues/4186#issuecomment-562168627. I'll add however the missing line.

Also, IIRC the function `tocbot_uninstall` isn't needed in the install file when `hook_c

[2019-12-05 15:38] #22 closed

[2019-12-05 16:33] olafgrabienski commented on #19
Here are my suggestions:

I'm going to file a PR and will merge it right away. (Feel free to reopen the issue. And thanks for your helpful suggestion, @stpaultim!)

[2019-12-05 16:41] #19 closed

[2019-12-05 17:38] olafgrabienski commented on #18
Closing in favor of #20. In that issue, I'll include information in the README about the suggested configuration to get started with the module (Toc block in a sidebar fixed when scrolling down, dynamic collapsing behavior).

[2019-12-05 17:38] #18 closed

[2019-12-05 17:40] olafgrabienski commented on #20
Keywords for the README:

- Toc block in a sidebar
- fixed when scrolling down
- dynamic collapsing behavior

[2019-12-05 23:27] #20 closed

[2019-12-05 23:37] olafgrabienski opened #26 "Add screenshots /screencast to README"
It would be nice to show a couple of screenshots, or even a screencast, to illustrate how Tocbot looks like and how it works.

[2019-12-07 00:09] stpaultim opened #27 "Problems with collapsed / collapsible settings"
The collapsed and collapsible settings did not work the way I expected. Not sure yet if it's a bug, needs better documentation, or user error on my part.

![Tocbot___Tocbot](https://user-images.githubusercontent.com/3144571/70363934-06dfc500-1850-11ea-8b7b-d2784b5b1a0d.png)

There are default classes for collapsible `is-collapsible` and isCollapsed `is-collapsed`. These classes are both there by d

[2019-12-08 13:50] olafgrabienski commented on #27
Thanks for your report! Will have a look at it.

Maybe related (copied from #21):

[2019-12-09 21:26] olafgrabienski commented on #26
As chance would have it, @stpaultim created a video introduction to Tocbot: https://www.youtube.com/watch?v=awh-JYef2i8

@stpaultim As mentioned in Gitter, your video is very helpful! I'd like to add it to the README. What do you think about it?

[2019-12-09 21:38] stpaultim commented on #26
@olafgrabienski - Certainly, feel free to link to the video in the README. Also, if you have any suggestions, I could probably redo it sometime in the next few weeks to make it better.

I'm well rehearsed with the part I did already. :-)

I have not experimented much with the other settings on the page, so I did not try to demonstrate them. If there are other settings that you think are worth high

[2019-12-10 13:13] olafgrabienski opened #28 "Rename default TOC title"
The current default for the **TOC title** in the module settings is `Page outline:`. I think, `Table of Contents` or just `Contents` is better.

[2019-12-10 22:13] olafgrabienski opened #29 "Move configuration form to admin.inc"
The configuration form to update module and JavaScript settings is created in the `tocbot.module` file. According to https://api.backdropcms.org/converting-modules-from-drupal (section "Organization of module files") it's recommended to create a `modulename.admin.inc` file for the settings instead.

Tasks:

- [ ] Create `tocbot.admin.inc`, and move settings from `tocbot.module#L50` to the new file

[2019-12-11 09:51] olafgrabienski commented on #26
A few notes how to integrate images in a README:

- Use relative links
  https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-readmes#relative-links-and-image-paths-in-readme-files
- Upload image to an issue and link to it (amongst other suggestions)
  https://stackoverflow.com/questions/10189356/how-to-add-screenshot-to-readmes-in-github-repository
- ~~Upload image

[2020-01-01 14:40] olafgrabienski opened #30 "Improve styling in Tocbot block"
**(1) Remove text-decoration:** Many current browsers style all links by default with `text-decoration: underline`. With text-decoration of links, the Tocbot block looks quite nervous. In my opinion, the links looks better when not underlined.

**(2) Adjust height and position of current item marker:** The green markers aren't big enough and look out of alignment.

[2020-01-01 14:42] olafgrabienski commented on #30
Here's a text-decoration comparison:

### With text-decoration (underline)
![screen-tocbot-text-decoration](https://user-images.githubusercontent.com/14188307/71642533-11ee0f80-2cad-11ea-9566-ca759dd3985c.png)

### Without text-decoration
![screen-tocbot-text-decoration-none](https://user-images.githubusercontent.com/14188307/71642532-11ee0f80-2cad-11ea-8028-e2068d4776d1.png)

[2020-01-01 15:31] olafgrabienski commented on #26
Below are three screenshots. I'll reference them from the Wiki and will link to the Wiki in the README. Will also put a link to Tim's video introduction in the README. Thanks again for your interest in the module, @stpaultim!

No. 1

![backdrop-tocbot-example-01](https://user-images.githubusercontent.com/14188307/71642663-2b905680-2caf-11ea-955f-842e31e83adf.png)

No. 2

![backdrop-tocbot-example-

[2020-01-01 15:34] #26 closed

[2020-01-02 11:49] #30 closed

[2020-01-02 12:02] olafgrabienski commented on #28
The Wikipedia article https://en.wikipedia.org/wiki/Table_of_contents says, a table of contents is usually headed "Contents":

On a German page, I'd also rather use just "Inhalt" (Contents) then "Inhaltsverzeichnis" (Table of contents) as heading of a TOC, so for now, I choose "Contents" for the default TOC title.

[2020-01-02 12:12] #28 closed

[2020-01-02 15:24] #29 closed

[2020-01-02 15:48] olafgrabienski commented on #21
Closing in favor of #27.

[2020-01-02 15:48] #21 closed

[2020-01-02 16:08] olafgrabienski commented on #27
@stpaultim - I've had a look at the HTML of your scenarios and noticed what's wrong with it (see below). So far, I don't know the reason for the wrong output. Guess we have to look in the [library's JS file](https://raw.githubusercontent.com/backdrop-contrib/tocbot/1.x-1.x/libraries/tocbot/tocbot.min.js). Do you have some JS skills?

**Removed `is-collapsed`**

Result:
[code]

(Note the lacking sp

[2020-01-02 20:09] stpaultim commented on #27
@olafgrabienski - Sorry, my Javascript skills are limited (at this time).

[2020-01-03 11:26] olafgrabienski opened #34 "Mention default values in configuration form"
If people change certain settings on `admin/config/content/tocbot`, the Table of Contents in the Tocbot block might stop to work as expected. E.g., certain values need further changes in a custom theme to display the TOC in a reasonable way.

For such and other cases, I'd suggest to mention the default configuration values in description text of the form elements to make it easy to reset the optio

[2020-01-07 14:27] olafgrabienski commented on #34
These are the current defaults:

[code]

[2020-01-08 15:46] olafgrabienski commented on #27
@stpaultim I've talked with a friend with some JS skills about this issue. He said the classes `is-collapsible` and `is-collapsed` are probably not meant to be removed but at best to be changed if people want to use other class names for some reason. (In that case people also need to adapt the CSS to get the out-of-the-box behavior.)

While at first sight the issue looked like a bug to me, now I g

[2020-01-08 15:46] #27 closed

[2020-01-08 15:59] olafgrabienski opened #35 "Improve configuration form for advanced settings"
Follow-up for #27.

In #27 @stpaultim expected that by removing `is-collapsible` from the configuration form the TOC would no longer be collapsible and that by removing `is-collapsed` it would remain collapsible, but not by default. If he removed both, he expected the TOC would neither be collapsed or collapsible.

AFAIK the mentioned classes are not meant to be removed but at best to be changed i

[2020-01-08 16:00] olafgrabienski commented on #27
Here's the follow-up issue: #35

[2020-01-08 16:11] #34 closed

[2020-01-08 17:04] olafgrabienski opened #37 "Temporarily empty Config page after update to v1.x-1.1"
After an update to release v1.x-1.1.1, I visited the configuration page `admin/config/content/tocbot`. It was empty, and I found two related messages in the DBlog:

- Notice: Undefined index: tocbot_config_form in backdrop_retrieve_form() (line 820 of (...)/core/includes/form.inc).
- Warning: call_user_func_array() expects parameter 1 to be a valid callback, function 'tocbot_config_form' not found

[2020-01-08 17:07] olafgrabienski commented on #37
Not sure if and how to fix the issue otherwise.

[2020-01-30 22:41] laryn opened #38 "TypeError: content is null"
This is appearing in my console on pages that have no matching headers data for TocBot to work with:

[2020-01-30 23:04] olafgrabienski commented on #38
Thanks for your report! Can you explain it a bit more what you mean by "matching headers data for TocBot"?

[2020-01-31 23:07] laryn commented on #38
I think it happens when there are no matches on a page for the "contentSelector" value.

[2020-02-02 21:07] olafgrabienski commented on #38
Thanks @laryn - I was able to reproduce the error by changing the contentSelector value from `.l-content` to `.x-content`. The error in the Chrome console is more verbose but I guess it's the same:

Also, the Tocbot block is empty in this case, it doesn't show a table of contents.

I'm not sure how the issue should be fixed. When the element from the *contentSelector* value doesn't exist on a page

[2020-02-02 21:17] olafgrabienski commented on #38
Apart of better documentation and error handling, I see a general challenge in placing multiple Tocbot blocks on different pages of a website: The *contentSelector* value is defined centrally in the settings but different pages might not have a suitable *contentSelector* element in common. Possible solution: set the *contentSelector* value in the Tocbot block settings.

[2020-02-03 17:30] laryn commented on #38
Thanks @olafgrabienski!
The functionality is working as I'd expect -- I'd just expect it to handle the condition without needing to display a warning/error.

[2020-02-03 17:36] laryn commented on #38
Does this seem reasonable? It seems to prevent the error message.
https://github.com/backdrop-contrib/tocbot/pull/39

[2020-02-04 13:06] olafgrabienski commented on #38
I'll have a look, thank you! (Short of time these days, hopefully soon.)

[2020-02-04 21:39] olafgrabienski commented on #38
Looks good to me: I've applied the PR on a test site, and the error is gone. I'm going to merge the PR. Thanks again!

@laryn Are you interested to have a bugfix release soon? Or do you already have other ideas for Tocbot which could be included in a new release?

[2020-02-04 21:39] #38 closed

[2020-02-05 16:15] laryn commented on #38
@olafgrabienski I'm testing it out for a small site I'm working on -- this is all I've found so far. Thanks for the module!

[2020-02-07 17:40] olafgrabienski commented on #38
@laryn You're welcome! Let me know when the site is ready, I'd love to see Tocbot examples in the wild.

I've just made a new release. When you update, maybe have a look at #37. (After updating to v1.x-1.1.1 I had to clear caches to see the Tocbot configuration page again.)

[2021-05-13 00:11] benravetta commented on #35
So, does this mean that I need to add my own CSS in order for the ToC to be collapsible?

[2021-05-13 10:03] olafgrabienski commented on #35
Hey Ben, you don't have to add custom CSS to get the collapsible behavior. That said, speaking of **the TOC** being collapsible, how I did in the issue description, isn't very accurate. The collapsible behavior applies to lists within the TOC that hold sub items, like the `<ol>` element in the (simplified) example below:

[code]

(Note: the example is from the TOC on https://tscanlin.github.io/toc

[2021-05-13 10:38] benravetta commented on #35
Thanks for getting back to me. Sorry, I didn’t make myself clear. What you are describing is exactly what I want. But for some reason, all of the subsections are already expanded. I would like to have them collapsed and expand on scroll. Is there something I need to add to the confit init to make sure this happens?

Best Wishes,

Ben Ravetta | Company Director
brightwork.uk
Visit the forum communi

[2021-05-13 11:03] olafgrabienski commented on #35
Hm, they shouldn't be already expanded. There is one exception, though: subsections of the top of the page are already visible in the TOC when you visit the page. I guess that's because you are already "there" when visiting the page. As an example, see the "Get started" sub-items of the library demo website: https://tscanlin.github.io/tocbot

However, subsections from other page sections should *n

[2021-05-13 17:01] olafgrabienski commented on #35
Okay, I've set up a temporary demo website using https://backdropcms.org/demo. The collapsible behavior works for me, without changing any Tocbot settings. Steps to reproduce:

- Set up the demo site.
- Install Tocbot via the project browser.
- Add the Tocbot block to the sidebar of the Default layout.
- Create a page with a lot of `h3` headings (for sections) and `h4` headings (subsections).

Bel

[2021-05-13 19:20] benravetta commented on #35
Wow, I really appreciate that. Yes, looks to be working great. I'm really not sure what is causing my own to be permanently expanded and non-collapsible. I wonder if there's some rogue JS somewhere. Here's the code I have currently.

[code]

[2021-05-13 21:09] olafgrabienski commented on #35
Sorry, I have very little JS skills :-/

Not sure if it matters but I'm wondering why you're loading the external Tocbot library. It's actually bundled with the Backdrop module, see https://github.com/backdrop-contrib/tocbot/issues/11#issuecomment-560454766.

[2021-05-13 21:27] benravetta commented on #35
Hi, thanks for all your help man. I am unsure how I even got here, to be honest. I thought I was on the Tocbot Github, but just realised it's this Backdrop CMS thing. That makes so much more sense now. I loaded up your demo, I was like, "What's Backdrop?" I'm running Tocbot on Ghost CMS 🤣 I managed to fix my issues anyway, but loading up the default tocbot CSS file from the CDN which I wasn't incl

[2021-05-26 14:31] herbdool opened #40 "Optional "Back to top" link beside headings"
I'm trying this module out with a client. The design doesn't have a sidebar so the tocbot block is at the top of the content. Once someone clicks a link in the table of contents and goes to the relevant heading, there's no easy way to go back to the TOC. Perhaps if there was a Back to top link after each heading as an option, this would help.

[2021-05-26 15:47] olafgrabienski commented on #40
Thanks for trying Tocbot! A "Back to top" link sounds like a useful option, I'm however not sure how to realize it. Thoughts:

One solution could be to get the option in the Tocbot library. Looking at https://github.com/tscanlin/tocbot, I didn't find this feature. I've also scanned the issue queue but not thoroughly. Not sure if it's realistic to get the feature added in the library.

Or are you m

[2021-05-28 13:31] herbdool commented on #40
Thanks for looking at this @olafgrabienski. Probably back_to_top module is the best option here. The tocbot library seems pretty focused so that makes sense.

[2021-05-28 14:04] herbdool opened #41 "If no headings found on page don't produce any HTML markup in the block"
I found it tricky to style since the block still outputs a div with `js-toc-block` class and a wrapper class. Is it possible to not output either of those if no headers on the page?

[2021-05-28 14:55] #40 closed

[2021-05-28 15:02] herbdool commented on #35
I suggest putting the collapsible depth field first and saying that if set to 6 that it effectively turns off collapsible.

Maybe some fieldsets would help too. Help people understand which settings are related.

[2021-05-28 21:36] olafgrabienski commented on #35
Thanks for your suggestions @herbdool! I'll have a look when I find time.

[2021-05-28 21:38] olafgrabienski commented on #41
Sounds like a good idea! Would you be able to help or even provide a PR?

[2021-06-16 14:23] olafgrabienski commented on #35
What do you mean by "first"? First JavaScript setting at all, or first Collapse related setting?

[2021-06-16 14:37] olafgrabienski commented on #35
For reference, this is the current situation:

@herbdool Instead of "Number 6 will show everything ...", shall we just say "Number 6 will turn off collapsible behavior ..."? Or would you prefer to combine the phrases? ("Number 6 will turn off collapsible behavior and show everything ...")

Actually, other parts of the current description are also a bit hard to understand (e.g. how many heading lev

[2021-06-26 05:03] herbdool commented on #35
I think I meant the latter: first collapse related setting.

[2021-06-26 05:10] herbdool commented on #35
This part sounds pretty awkward in English. Maybe something like:

[2021-06-27 12:06] olafgrabienski commented on #35
Thanks for the suggestion, sounds already better! I've just had a look at the behavior and realized that the former text was misleading in mentioning the number of levels ("how many") instead of the level itself. We could try to make even more clear that the numbers are referring to the HTML heading levels. Text areas are usually configured to start with H3 in Backdrop. In this case, when you put

[2021-06-27 12:14] olafgrabienski commented on #35
@herbdool I'm on the verge of a vacation and can't be active here for the next weeks. In case you need the issue to be fixed before, feel free to become a co-maintainer of Tocbot. Interested?

[2021-06-27 18:19] herbdool commented on #35
I'm not in a hurry to get this fixed. I think I've taken on enough module maintaining for now. Thanks for your help on this!

[2022-04-26 12:27] olafgrabienski commented on #41
@herbdool It's been a while! I'd like to fix this issue but need some help. I guess, I have to address https://github.com/backdrop-contrib/tocbot/blob/1.x-1.x/tocbot.module#L161. Do you have an idea what to change here?

[2022-08-30 16:04] yorkshire-pudding opened #42 "Long headings overflow when switch to fixed"
Long headings overflow from the sidebar when switch into fixed mode and it looks a bit odd and untidy.
I can't think of an easy way to contain this as I guess when it switches to fix mode it loses reference to the containing block?
It does seem to wrap at the page boundary so it's not a deal breaker on a right sidebar, however, on a left sidebar if overflows the text, which is a problem.

If anyon

[2022-08-30 16:08] yorkshire-pudding opened #43 "How best to handle tocbot responsively"
In my theme, blocks from the sidebar move underneath the content when the screen narrows.  The fixed tocblock then overlays the content which is not acceptable.

For now, I've hidden it for small screens.
I presume fixing this would be quite complex, and what would the UI even look like anyway?

What are others doing?

[2022-08-30 21:03] olafgrabienski commented on #43
Thanks for your report! I just noticed an interesting thing on the [Tocbot library demo site](https://tscanlin.github.io/tocbot) which I wasn't aware of: When you narrow the screen, as soon as the TOC disappears, there is a new `Menu` button at the top of the page which toggles a slide-in overlay region containing the TOC.

[2022-08-31 07:57] yorkshire-pudding commented on #43
This does look like a good UI pattern for it and I think would be the best solution.  It looks like they've done the CSS in a mobile first way as the only media query I could find is a min-width in styles.css.

<details>
<summary>styles.css</summary>

[code]
</details>

<details>
<summary>tocbot.css</summary>

[code]

</details>

It looks like it may be theme agnostic enough to work.

[2022-08-31 08:49] olafgrabienski commented on #42
Thanks! I can confirm the issue using a layout with left sidebar, e.g. the *Moscone* layout: as soon as `.js-toc-block` gets the class `.is-position-fixed`, it can get wider than the sidebar and overlap with the adjacent body text.

I'm not sure about the `bug` status. While the HTML output on the [Tocbot demo site](https://tscanlin.github.io/tocbot) is a bit different from the Backdrop implementa

[2022-08-31 09:20] yorkshire-pudding commented on #42
@olafgrabienski I think perhaps go for simple CSS responsive approach to start with; I'm not sure my JS skills are up to it either.
With the example CSS above, should the `150px` one be `max-width: 48em` ?

Happy to re-classify as enhancement if you prefer, but I thought overlapping content on core layouts would count as a bug.

[2022-08-31 09:23] olafgrabienski commented on #43
We should check if the mobile toggle is part of the Drupal module. I don't think so, but if it is in Drupal, it should be easy to port the missing part to Backdrop.

[2022-08-31 09:26] olafgrabienski commented on #43
If the mobile toggle isn't available in Drupal, we need an idea of how to implement it in Backdrop but also a good concept which considers amongst others the existing mobile menu toggle in Backdrop.

[2022-08-31 09:29] yorkshire-pudding commented on #43
I'll try and look at this next week if I can.  I have a bit of a deadline I'm working to at the moment.  You're right that TocBot should not clash with the mobile menu

[2022-08-31 09:33] olafgrabienski commented on #42
@yorkshire-pudding Thanks for your feedback and for the hint re the CSS example. In the second part with 210px I wanted to use `62em` (now edited and corrected).

Agreed, let's start with the responsive approach. If you don't beat me to it, I can suggest the CSS addition in the next days.

Re classification: no problem, let's stick with bug.

[2022-09-09 16:58] yorkshire-pudding opened #44 "Position bar in default placement is offset to left, except for admin users"
**Steps to reproduce**

1. add tocbot to site
2. Add content with structured headings
3. Add tocbot block to layout in right sidebar
4. Compare page while logged in and when logged out - start at top position and scroll so the block goes 'fixed'

**Expected results**
Vertical position bar runs directly below the left hand side of the first letter of title (e.g. Contents)
Same position for logged i

[2022-09-12 08:57] olafgrabienski commented on #44
Thanks for your report – this issue looks like a tricky one, no idea so far why it's happening!

I noticed one interesting thing, though: If you're *not* logged in to your Backdrop site as administrator and inspect the element `.toc-link::before` with your browser's dev tools and have a look at the box-sizing visualization, you'll see quite different `position` numbers for the default and the fixe

[2022-09-12 09:03] olafgrabienski commented on #44
Testing the issue, I noticed that logging in fixes it only for users with the administrator role. If you log in as an editor, the strange position behavior continues. I'm curious if we can boil this down to a particular permission or something else more specific than the role.

[2022-09-12 09:07] yorkshire-pudding commented on #44
Thanks for investigating @olafgrabienski - this is curious - I didn't think to test with non-admin user.

[2022-09-12 09:33] yorkshire-pudding commented on #44
The permission appears to be "Administer Layouts" 😕 - very confusing

[2022-09-12 09:35] olafgrabienski commented on #44
Yep, just noticed this myself. To be more precise, `Administer Layouts` and `Use contextual links`. So, I guess the contextual link CSS and/or JavaScript affects the position.

[2022-09-12 09:37] yorkshire-pudding commented on #44
I'd added that previously and nothing happened, but guess that's because the permission to do anything wasn't there so no links were being invoked.

[2022-09-12 09:47] yorkshire-pudding commented on #44
Looks to be the `position: relative;` line in `contextual-links-region` that fixes it.

[code]

[2022-09-12 09:50] olafgrabienski commented on #44
Yes ... without the contextual links region the Tocbot block is `static`, and that makes the difference for the position issue of the elements.

[2022-09-12 09:51] yorkshire-pudding commented on #44
Adding

[code]
into `tocbot-style.css` seems to work

[2022-09-12 11:03] #44 closed

[2022-09-12 11:04] olafgrabienski commented on #44
@yorkshire-pudding Thanks again, I've merged your PR.

[2022-09-12 12:28] olafgrabienski commented on #42
The following CSS addition works for me with the core layouts containing one or two sidebars (Harris, Moscone, Moscone Flipped, Simmons, Taylor, Taylor Flipped):

[code]

I'll provide a PR soon. One question: Does it make more sense to use `.is-position-fixed`, without combining it with `js-toc-block`? At first sight, `.is-position-fixed` looks very general to me, it could come from every other mo

[2022-09-12 13:39] yorkshire-pudding commented on #42
@olafgrabienski - tested and works well for me.
I agree that it seems quite general and might run the risk that another module picks the same class and then has unforeseen consequences.  Might also want to move the `top: 80px;` to be under  `.js-toc-block.is-position-fixed`

[2022-09-12 15:15] olafgrabienski commented on #42
Done, wanna have a look before I merge [the PR](https://github.com/backdrop-contrib/tocbot/pull/46)? (I've also added some missing spaces.)

[2022-09-12 15:17] yorkshire-pudding commented on #42
@olafgrabienski - looks good.

[2022-09-12 15:19] #42 closed

[2022-09-14 11:24] yorkshire-pudding opened #47 "Stop tocbot appearing over content on mobile"
On mobiles, Tocbots  placed in sidebars appear on top of the content.  Following discussion over #43 it was decided that to fix the immediate bug we should stop the tocbot block appearing over content.

#43 will remain open to try to implement a pattern that allows that ToC to be used wherever the user is in the content.

[2022-09-14 11:42] yorkshire-pudding commented on #43
Following discussion agreed to first fix the immediate bug in #47 and then focus this on the enhancement of making to ToC usable wherever the user is in the content. Possibly using a UI pattern like this:

![chrome_VmGm5Vnif1](https://user-images.githubusercontent.com/20357797/190143121-1de70fb0-40f4-436b-bc0d-78595ab72bed.gif)

This uses https://github.com/tscanlin/tocbot/blob/master/src/scss/_to

[2022-09-14 15:58] olafgrabienski commented on #47
Thanks for the PR! I've tested the change and found out it works only for screens at least 769px wide. To make it work for 768px (e.g. for iPads in portrait mode), I'd suggest to set `position: relative` without media query condition. Then add a `min-width` media query to set `position: fixed`.

[2022-09-14 16:08] olafgrabienski commented on #47
This works for me:

[code]

Notes re this approach:

- In the first part, I guess we don't need to unset the `top` value.
- In the second part, I have integrated the changes in the existing media query.

[2022-09-15 08:27] yorkshire-pudding commented on #47
Thanks @olafgrabienski - that makes sense.  PR updated

[2022-09-15 10:18] #47 closed

[2022-09-15 10:24] olafgrabienski commented on #47
Thanks a lot, @yorkshire-pudding – I've merged the PR after the last changes.